@import './palette.scss';
@import './mixins.scss';

$nav-height: 80px;

$display-font: 'NHaasGroteskDSPro', sans-serif;

* {
	font-family: $display-font;
}

:global(body) {
	padding: 0;
	margin: $nav-height 0 0;
}
