@import './palette.scss';
@import './mixins.scss';

$nav-height-mobile: 60px;
$nav-height-desktop: 80px;

$display-font: 'NHaasGroteskDSPro', sans-serif;

* {
	font-family: $display-font;
}

:global(body) {
	padding: 0;
	margin: $nav-height-mobile 0 0;

	@include tablet{
		margin: $nav-height-desktop 0 0;
	}
}
